<h2 class="center-align">Login</h2>

<form class="container">
	<div class="row">
		<input class="col m6 s12 offset-m3" type="text" placeholder="Email">
	</div>
	<div class="row align-center">
		<input class="col m6 s12 offset-m3" type="text" placeholder="Password">
	</div>
	<div class="row">
		<a class="btn col m6 s12 offset-m3" href="#/new">Log in</a>
	</div>
	<div class="row">
		<div class="col m6 s12 offset-m3 right-align">
			<a href="#/register">Need an account?</a>
		</div>
	</div>
</form>
